body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    color: dimgray;
}

.navbar {
    overflow: hidden;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif; 
    margin-bottom: 40px;
    height:70px;
}

.navbar a {
    float: right;
    font-size: 16px;
    color: dimgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 20px;
    padding-top:25px;
}

@media screen and (max-width: 400px) {
    .navbar a{
       width: 100%; 
    }
    
    .dropdown{
        width: 100%;
        text-align: center;
        
    }
    
    .dropdown .dropbtn {
        font-size: 16px;    
        border: none;
        outline: none;
        color: dimgray;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        text-align: center;
}
    
    .dropdown-content {
        text-align: center;
        width: 100%;
}
    
    .dropdown-content a{
        text-align: center;
        padding-left: 100px;
    }
}

.dec{
    color: #638da6;
    font-size: 18px;
    padding-bottom: 5px;
}

.quizbox{
    background-color: #638da6;
    width: 100%;
    height: auto;
}

.quizbox h4{
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}

textarea{
    width: 80%;
    height: auto;
}

.progress {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:  white;
}
.grid-item1 {
  background-color: #e0eaf0;
  padding: 20px;
    color: dimgray;
    text-align: center;
}

.review{
	text-align: center;
    padding-bottom: 10px;
}

.review h4{
    text-align: left;
}

.row2 {
    margin: 8px -16px;
}

.comment{
	width: 100%;
	padding-right: 5px;
	padding-left: 5px;
}

/* Add padding BETWEEN each column */
.row2,
.row2 > .column2 {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column2 {
    float: left;
    width: 20%;
}

/* Clear floats after rows */ 
.row2:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content2 {
    background-color: white;
    padding: 5px;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
    .column2 {
        width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column2 {
        width: 100%;
    }
}


h2{
    text-align: left;
    text-decoration: none;
    font-size: 110%;
    color: white;
}

.links{
    text-decoration: none;
    font-size: 80%;
    text-align: center;
    
}


.special{
    text-align: center;
}
/*end of special form page css*/

.container:hover .overlay {
  opacity: 0.9;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column1 {
  flex: 50%;
  /*padding: 0 1px;*/
}

.column1 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 190%;
}


.attract{
    color: dimgray;
    
}

.ref{
    color: white;

}

.ref:hover{
    font-weight: bold;
}

iframe{
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

a{
    color: dimgray;
}

a:hover{
    font-weight: bold;
}


.dropdown {
    float: right;
    overflow: hidden;
    margin-right: 20px;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: dimgray;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding-top:25px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    font-weight: bold;
    color: #638da6;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: dimgray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
   color: #638da6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.sticky {
    position: sticky;
    top: 0;
    padding: 50px;
    font-size: 20px;
    box-shadow: 50px 50px dimgray;
}

.sticky-logo-handler {
    display: none;
    height: 100%;
    width: 100%;
    text-align: left;
    margin-left: 80px;
    padding-left: 100px;
}

.logo{
    padding-left: 5px;
    padding-top: 5px;
    position: fixed;
    width: 150px;
    z-index: 1;
}


.video-container {
  position: relative;
    width: 100%;
}

video{
    width: 100%;
    height: auto;
}


@media(max-width:767px) {
.sticky-logo-handler {
        display: block;
        padding-left: 5px;
    }
}

* {
    box-sizing: border-box;
}

hr{
    margin-bottom: 50px;
    margin-top: 25px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    margin-top: 10px;
    height: 350px;
    background-color: white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: white;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    
    iframe{
        width: 100%;
    }
}

/* specify font stylings for entire site*/
h1 { 
    font-family: "Helvetica"; font-size: 47px; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 300; 
    margin-bottom: 0;
    color: #696969;
} 

h3 { 
    font-family: "Helvetica"; font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    color: #638da6;
} 

h4 { 
    font-family: "Helvetica"; font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 300; 
    color: dimgray;
} 

p { 
    font-family: "Helvetica"; font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
} 


blockquote { 
    font-family: "Helvetica"; font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
}

.sumbit{
    background-color: #638da6;
    color: white;
    width: 150px;
    height: 30px;
    text-align: center;
}

.l-region--navigation .sticky-logo-handler img {
    margin: 0 auto;
    width: 140px;
    margin-top: -30px;
    display: block
}

img{
    width: 100px;
    height:auto;
}

/*create the border around the content*/

footer{
    text-align: center;
    font-size: 50%;
}

hr{
    color: dimgray;
}


#head{
    text-align: center;
    margin-bottom: 50px;
}

/*media query for screen size minimum 400
shrink the navigation bar horizonatlly*/
@media screen and (min-width: 400px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
        position: sticky;
        top: 0;
        display:inline-block;
        margin-bottom: 100px;
        z-index: 1;
    }
    
     .right li{
        font-size: 30%;
    }
    
    .list p{
        font-size: 30%;
    }
    
    .review{
	width: 100%;
	margin-right: 5px;
	margin-left: 5px;
}
    
    hr{
    margin-bottom: 5px;
        margin-top: 5px;
}
    
}

/*media query for screen size maximum 780
makes the navigation bar vertical instead of horizontal*/
@media screen and (max-width: 850px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
        position: sticky;
        top: 0;
    }
    
    #sec1{
          width: 170%;
    }
    
    .right li{
        font-size: 30%;
    }
    
    .right p{
        font-size: 30%;
    }
    

}

html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: helvetica, sans-serif;
    background-color: #f8f8f8;
    color: dimgray;
}


.parallax{
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/room.png");
}

#parallax2{
    height: 35%;
}

#parallax3{
    height: 35%;
}

.mini{
    text-align: left;
    color: white;
    font-size: 300%;
}

.download{
    text-align: left;
    color: dimgray;
    font-size: 200%;
    font-weight: 100;
}

.title{
    text-align: left;
    color: dimgray;
    font-size: 500%;
}

h2{
    margin-top: 0;
    text-align: center;
    font-size: 300%;
}

.section{
    height: 100%;
    display: flex;
}

#sec1{
    opacity: .90;
    color: white;
}

#sec2{
    height: 65%;
}

#sec3{
    text-align: center;
    display: block;
    background-color: #638da6;
    height: auto;
    padding: 3em 0;
    color: white;
}

#sec3 h2{
    font-size: 3em
}

#sec3 p{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

#sec4{
    text-align: center;
    display: block;
    height: auto;
    background-color: #638da6;
    color: white;
    padding: 1em 0;
}

#sec4 a{
    font-size: 1em;
    text-decoration: none;
    color: white;
}

.left{
    width: 30%;
    background-color: #a1bbc9;
    height: 100%;
}

#left2{
    background-color: #e0eaf0;
}

.leftcontent{
    width: 90%;
    margin-left: 4%;
    padding-top: 10em;
    overflow: hidden;
}


#leftcontent1 a{
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}



#leftcontent2 p{
    font-size: 2em;
    margin: 0;
}

.right{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding-right: 20px;
}

.right ul{
    margin: 0;
    padding: 0;
    list-style: url(../images/square_bullets.png);
}

.right ul div{
    margin: 2em 0;
}

.right ul p{
    width: 75%;
}

.right ul li{
    font-size: 1.5em;
    font-weight: bold;
}

.right p{
    font-size: 24px;
    line-height: normal;
    color:#638da6;
    font-weight: 100;
}

p{
     font-size: 24px;
    line-height: normal;
    color:white;
    font-weight: 100;
}

footer{
    background-color: #d8d8d8;
}

footer p{
    margin: 0;
    font-size: 18px;
    text-align:center;
}

@media screen and (max-width: 600px) {
    .column2 {
        width: 100%;
    }
    
       ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
        position: sticky;
        top: 0;
        display:inline-block;
        margin-bottom: 100px;
        z-index: 1;
    }
